Repository sql-machine-learning/elasticdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/skorokithakis/pre-commit-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.3
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: validate-toml
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node

Use allreduce image to run unittest
  .travis.yml
Due: none

Add dependencies
  elasticdl/requirements.txt
  model_zoo/requirements.txt
Due: none

Implement rpc method
  elasticdl/python/master/master.py
  elasticdl/python/master/servicer.py
Due: copyright_checker

Start rendezvous server to run unittest
  elasticdl/python/tests/horovod_rendezvous_test.py
Due: copyright_checker

Add unittst
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Add unittest to get attribute of Rendezvous Server
  elasticdl/python/master/rendezvous_server.py
  elasticdl/python/tests/horovod_rendezvous_test.py
Due: copyright_checker

Fix unittest
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Fix unittest
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Pre-commit
  elasticdl/python/tests/horovod_rendezvous_test.py
Due: copyright_checker

Add proto to get rank
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/k8s_instance_manager.py
Due: clang-format, copyright_checker

Remove the unittest for AllReduce based FTlib
  elasticdl/python/tests/worker_allreduce_strategy_test.py
Due: copyright_checker

The worker executes allreduce using Horovod
  .isort.cfg
  elasticdl/python/common/constants.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Remove unittest for FTlib
  elasticdl/python/tests/worker_allreduce_strategy_test.py
Due: copyright_checker

RendezvousServer for Horovod (#2245)
  .isort.cfg
  .travis.yml
  elasticdl/python/master/rendezvous_server.py
  elasticdl/python/tests/horovod_rendezvous_test.py
  elasticdl/python/tests/worker_allreduce_strategy_test.py
  elasticdl/requirements.txt
  model_zoo/requirements.txt
Due: copyright_checker

Pre-commit
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Get communication rank from the master
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Remove a blank
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Pre-commit
  elasticdl/python/master/master.py
Due: copyright_checker

Set rendezvous port
  elasticdl/python/master/servicer.py
Due: copyright_checker

Remove an empty line
  elasticdl/proto/elasticdl.proto
Due: clang-format

Pre-commit
  elasticdl/proto/elasticdl.proto
Due: clang-format

Delete unused codes
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Check whether Horovod is installed
  elasticdl/python/master/rendezvous_server.py
Due: copyright_checker

Pre-commit
  .isort.cfg
  elasticdl/python/master/rendezvous_server.py
Due: copyright_checker

Add rendezvous server
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Only initialize RendezvousServer for AllReduce
  elasticdl/python/master/master.py
  elasticdl/python/master/rendezvous_server.py
Due: copyright_checker

Only initialize RendezvousServer for AllReduce
  elasticdl/python/master/master.py
Due: copyright_checker

Train with AllReduce strategy using Horovod
  elasticdl/python/master/master.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Fix isort
  .isort.cfg
Due: none

Pre-commit
  .isort.cfg
Due: none

Initialize rendezvous server
  elasticdl/python/master/master.py
Due: copyright_checker

Remove unused codes
  elasticdl/python/master/master.py
Due: copyright_checker

Remove FTlib allreduce
  elasticdl/python/master/master.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Fix service address
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/master/master.py
Due: copyright_checker

Pre-commit
  .isort.cfg
  .travis.yml
  elasticdl/requirements.txt
  scripts/client_test.sh
Due: copyright_checker

Remove unused import
  elasticdl/python/worker/worker.py
Due: copyright_checker

Fix docstring
  elasticdl/python/master/rendezvous_server.py
Due: copyright_checker

Fix by comments
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/rendezvous_server.py
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/worker/master_client.py
Due: clang-format, copyright_checker

Fix by comments
  elasticdl/python/master/rendezvous_server.py
Due: copyright_checker

Implement the rpc service for workers to get AllReduce configuration. (#2247)
  .isort.cfg
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/master.py
  elasticdl/python/master/rendezvous_server.py
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/worker/master_client.py
Due: clang-format, copyright_checker
