Repository sql-machine-learning/elasticdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Rename a variable
  elasticai_api/pytorch/optimizer.py
Due: copyright_checker

Add up global batch size according to the state of optimizer
  elasticai_api/pytorch/optimizer.py
  elasticdl/python/allreduce/pytorch_controller.py
Due: copyright_checker

Add unitests
  elasticai_api/pytorch/optimizer.py
  elasticdl/python/allreduce/base_controller.py
  elasticdl/python/allreduce/pytorch_controller.py
  elasticdl/python/allreduce/tensorflow_controller.py
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

Move the common constants into elasticai_api and add elasticai_api in the requirements of elasticdl.
  elasticai_api/common/constants.py
  elasticdl/python/allreduce/base_controller.py
  elasticdl/python/allreduce/pytorch_controller.py
  elasticdl/python/common/constants.py
  elasticdl/python/master/pod_manager.py
  elasticdl/python/worker/main.py
  setup.py
Due: copyright_checker

Add a new proto file: elasticai_api.proto.
  elasticai_api/proto/elasticai_api.proto
  elasticdl/Makefile
  elasticdl/proto/elasticdl.proto
Due: clang-format

Add up the completed global batch count. (#2430)
  elasticai_api/pytorch/optimizer.py
  elasticdl/python/allreduce/base_controller.py
  elasticdl/python/allreduce/pytorch_controller.py
  elasticdl/python/allreduce/tensorflow_controller.py
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

Move the common constants into elasticai_api and add elasticai_api in the requirements of elasticdl. (#2431)
  elasticai_api/common/constants.py
  elasticdl/python/allreduce/base_controller.py
  elasticdl/python/allreduce/pytorch_controller.py
  elasticdl/python/common/constants.py
  elasticdl/python/master/pod_manager.py
  elasticdl/python/worker/main.py
  setup.py
Due: copyright_checker

Add an argument to disable the thread to check timeout tasks
  elasticdl/python/master/task_manager.py
  elasticdl_client/common/args.py
Due: copyright_checker

Fix the build issue for proto refactor.
  elasticai_api/proto/elasticai_api.proto
  elasticdl/Makefile
  elasticdl/proto/elasticdl.proto
Due: clang-format

Update the package name from elasticdl_pb2 to elasticai_api_pb2 for the messages in elasticai_api.proto.
  elasticdl/python/master/servicer.py
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/callbacks_test.py
  elasticdl/python/tests/data_reader_test.py
  elasticdl/python/tests/data_shard_service_test.py
  elasticdl/python/tests/elasticdl_job_service_test.py
  elasticdl/python/tests/evaluation_service_test.py
  elasticdl/python/tests/master_test.py
  elasticdl/python/tests/mock_service.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/tests/task_manager_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl/python/tests/worker_ps_interaction_test.py
  elasticdl/python/tests/worker_test.py
  elasticdl/python/worker/data_shard_service.py
  elasticdl/python/worker/master_client.py
  elasticdl/python/worker/task_data_service.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Add elasticai_api_pb2 in the imports.
  elasticdl/python/master/servicer.py
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/callbacks_test.py
  elasticdl/python/tests/data_reader_test.py
  elasticdl/python/tests/data_shard_service_test.py
  elasticdl/python/tests/elasticdl_job_service_test.py
  elasticdl/python/tests/evaluation_service_test.py
  elasticdl/python/tests/master_test.py
  elasticdl/python/tests/mock_service.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/tests/task_manager_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl/python/tests/worker_ps_interaction_test.py
  elasticdl/python/tests/worker_test.py
  elasticdl/python/worker/data_shard_service.py
  elasticdl/python/worker/master_client.py
  elasticdl/python/worker/task_data_service.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Fix unittests
  elasticdl/python/tests/test_utils.py
Due: copyright_checker

Add __init__.py in elasticai_api/proto folder.
  elasticai_api/proto/__init__.py
  elasticdl/python/master/task_manager.py
Due: copyright_checker

Update include path for protoc build.
  elasticdl/Makefile
Due: none

Resolve pre-commit issue.
  elasticai_api/proto/elasticai_api.proto
Due: clang-format

Remove get_model_version method from master_client because Master service has not published this rpc method.
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Move the proto messages about dynamic sharding into elasticai_api.proto. (#2435)
  elasticai_api/proto/__init__.py
  elasticai_api/proto/elasticai_api.proto
  elasticdl/Makefile
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/servicer.py
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/callbacks_test.py
  elasticdl/python/tests/data_reader_test.py
  elasticdl/python/tests/data_shard_service_test.py
  elasticdl/python/tests/elasticdl_job_service_test.py
  elasticdl/python/tests/evaluation_service_test.py
  elasticdl/python/tests/master_test.py
  elasticdl/python/tests/mock_service.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/tests/task_manager_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl/python/tests/worker_ps_interaction_test.py
  elasticdl/python/tests/worker_test.py
  elasticdl/python/worker/data_shard_service.py
  elasticdl/python/worker/master_client.py
  elasticdl/python/worker/task_data_service.py
  elasticdl/python/worker/worker.py
Due: clang-format, copyright_checker

Set backward_passes_per_step when the worker number changes
  elasticdl/python/allreduce/pytorch_controller.py
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

Separate master service into two parts in proto.
  elasticai_api/common/master_client.py
  elasticai_api/proto/elasticai_api.proto
  elasticdl/proto/elasticdl.proto
Due: clang-format, copyright_checker

Rename by comments
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/test_utils.py
  elasticdl_client/common/args.py
Due: copyright_checker

Remove get_model_version method from master_client because Master service has not published this rpc method. (#2437)
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Add a new Servicer: TrainLoopMasterServicer for TranLoogMaster grpc service.
  elasticai_api/common/master_client.py
  elasticdl/go/pkg/ps/server.go
  elasticdl/python/master/pod_manager.py
  elasticdl/python/master/servicer.py
  elasticdl/python/ps/servicer.py
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Resolve conflicts.
  elasticai_api/proto/elasticai_api.proto
Due: clang-format

Update the location of the method report_evaluation_metrics.
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Combine MasterServicer and TrainLoopMasterServicer into MasterServicer.
  elasticdl/python/master/servicer.py
Due: copyright_checker

Make MasterClient from main package the subclass of MasterClient from elasticai_api package.
  elasticdl/python/worker/master_client.py
Due: copyright_checker

Add an argument to disable the thread to check timeout tasks. (#2434)
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/test_utils.py
  elasticdl_client/common/args.py
Due: copyright_checker

Update the method location to avoid unnecessary changes in CR.
  elasticdl/python/master/servicer.py
Due: copyright_checker

Update the parameter sequence to avoid unnecessary changes in CR.
  elasticdl/python/master/servicer.py
Due: copyright_checker

Fix test failure of TestMasterClient in service_test.go
  elasticdl/go/pkg/ps/server_test.go
  elasticdl/python/master/servicer.py
Due: copyright_checker

Move base_controller and data_shard_service from elasticdl main package to elasticai_api package.
  elasticai_api/common/base_controller.py
  elasticai_api/common/constants.py
  elasticai_api/common/data_shard_service.py
  elasticai_api/common/log_utils.py
  elasticdl/python/allreduce/pytorch_controller.py
  elasticdl/python/allreduce/tensorflow_controller.py
  elasticdl/python/common/constants.py
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/allreduce_trainer_test.py
  elasticdl/python/tests/data_shard_service_test.py
  elasticdl/python/worker/allreduce_trainer.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Resolve test failure.
  elasticdl/go/pkg/ps/server_test.go
Due: copyright_checker

Resolve test failure.
  Dockerfile
  elasticdl/python/tests/mock_service.py
Due: copyright_checker

Resolve test failure.
  elasticdl/python/tests/mock_service.py
Due: copyright_checker

Remove unnecessary files.
  Dockerfile
Due: none

Separate master RPC service to into master and TrainLoopMaster. (#2438)
  elasticai_api/common/master_client.py
  elasticai_api/proto/elasticai_api.proto
  elasticdl/go/pkg/ps/server.go
  elasticdl/go/pkg/ps/server_test.go
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/pod_manager.py
  elasticdl/python/master/servicer.py
  elasticdl/python/ps/servicer.py
  elasticdl/python/tests/mock_service.py
  elasticdl/python/worker/master_client.py
Due: clang-format, copyright_checker

Set the max seconds to check rendezvous
  elasticdl/python/allreduce/base_controller.py
Due: copyright_checker

Move AllReduceControllers from elasticdl package to elasticai_api package.
  elasticai_api/common/constants.py
  elasticai_api/common/grpc_utils.py
  elasticai_api/pytorch/controller.py
  elasticai_api/tensorflow/controller.py
  elasticdl/python/common/constants.py
  elasticdl/python/ps/parameter_server.py
  elasticdl/python/tests/allreduce_trainer_test.py
  elasticdl/python/tests/mock_service.py
  elasticdl/python/tests/pserver_servicer_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl/python/worker/main.py
  elasticdl/python/worker/ps_client.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Remove allreduce folder in elasticdl package.
  elasticdl/python/allreduce/__init__.py
Due: copyright_checker

Resolve pre-commit issue.
  elasticdl/python/tests/allreduce_trainer_test.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(go|py|sh)$
