Repository sql-machine-learning/elasticdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Fix unit tests
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

Delete unused codes in the master server
  elasticdl/python/master/servicer.py
Due: copyright_checker

Remove minibatch_size in the Task
  elasticdl/proto/elasticdl.proto
Due: clang-format

Delete unused codes in the master server (#2337)
  elasticdl/python/master/servicer.py
Due: copyright_checker

Remove minibatch size
  elasticdl/python/master/servicer.py
Due: copyright_checker

Remove minibatch_size in the Task (#2338)
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/servicer.py
Due: clang-format, copyright_checker

remove tensorboard service
  elasticdl/python/common/args.py
  elasticdl/python/common/k8s_client.py
  elasticdl/python/common/k8s_tensorboard_client.py
  elasticdl/python/master/evaluation_service.py
  elasticdl/python/master/master.py
  elasticdl/python/master/tensorboard_service.py
  elasticdl/python/ps/parameter_server.py
  elasticdl/python/tests/k8s_tensorboard_client_test.py
  elasticdl_client/common/args.py
  scripts/client_test.sh
  scripts/validate_job_status.py
Due: copyright_checker

fix tests
  elasticdl/python/tests/evaluation_service_test.py
  elasticdl/python/tests/test_utils.py
Due: copyright_checker

Update out-of-date diagram
  docs/images/architecture.png
Due: none

fix black
  elasticdl/python/tests/test_utils.py
Due: copyright_checker

Update the format from png to jpg.
  docs/designs/overall.md
  docs/images/architecture.jpg
  docs/images/architecture.png
Due: none

Update out-of-date diagram (#2340)
  docs/designs/overall.md
  docs/images/architecture.jpg
  docs/images/architecture.png
Due: none

Remove tensorboard service (#2339)
  elasticdl/python/common/args.py
  elasticdl/python/common/k8s_client.py
  elasticdl/python/common/k8s_tensorboard_client.py
  elasticdl/python/master/evaluation_service.py
  elasticdl/python/master/master.py
  elasticdl/python/master/tensorboard_service.py
  elasticdl/python/ps/parameter_server.py
  elasticdl/python/tests/evaluation_service_test.py
  elasticdl/python/tests/k8s_tensorboard_client_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl_client/common/args.py
  scripts/client_test.sh
  scripts/validate_job_status.py
Due: copyright_checker

Dynamic Sharding Support Reading Original Images
  docs/designs/dynamic_sharding_for_images.md
Due: none

Demo for Pytorch to keep batch size
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/worker/allreduce_controller.py
  model_zoo/mnist/mnist_train_torch.py
Due: copyright_checker

Delete sleep
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Refact task definition
  elasticdl/proto/elasticdl.proto
  elasticdl/python/data/reader/csv_reader.py
  elasticdl/python/data/reader/odps_reader.py
  elasticdl/python/data/reader/recordio_reader.py
  elasticdl/python/elasticdl/callbacks.py
  elasticdl/python/master/servicer.py
  elasticdl/python/master/task_dispatcher.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl/python/worker/task_data_service.py
  elasticdl/python/worker/worker.py
Due: clang-format, copyright_checker

Delete unused log
  elasticdl/python/worker/task_data_service.py
Due: copyright_checker

Pre-commit
  elasticdl/python/data/reader/odps_reader.py
  elasticdl/python/data/reader/recordio_reader.py
  elasticdl/python/master/task_dispatcher.py
  elasticdl/python/worker/task_data_service.py
Due: copyright_checker

Format proto
  elasticdl/proto/elasticdl.proto
Due: clang-format

Fix unit tests
  elasticdl/python/tests/data_reader_test.py
Due: copyright_checker

Delete the unused import
  elasticdl/python/tests/data_reader_test.py
Due: copyright_checker

Wait in the dataset
  elasticdl/python/worker/task_data_service.py
Due: copyright_checker

Wait in the dataset
  elasticdl/python/worker/worker.py
Due: copyright_checker

Fix the spell error of Horovod
  elasticdl/python/worker/allreduce_controller.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Fix the spell error of Horovod (#2344)
  elasticdl/python/worker/allreduce_controller.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Refact the task definition with a shard (#2343)
  elasticdl/proto/elasticdl.proto
  elasticdl/python/data/reader/csv_reader.py
  elasticdl/python/data/reader/odps_reader.py
  elasticdl/python/data/reader/recordio_reader.py
  elasticdl/python/elasticdl/callbacks.py
  elasticdl/python/master/servicer.py
  elasticdl/python/master/task_dispatcher.py
  elasticdl/python/tests/data_reader_test.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/tests/test_utils.py
  elasticdl/python/worker/task_data_service.py
  elasticdl/python/worker/worker.py
Due: clang-format, copyright_checker

Remove WAIT tasks
  elasticdl/python/worker/task_data_service.py
Due: copyright_checker

Fix by comments
  docs/designs/dynamic_sharding_for_images.md
Due: none

Master exits if all worker completed
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/master/master.py
Due: copyright_checker

Master exits if all worker completed
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Master exits if all workers completed
  elasticdl/python/master/master.py
Due: copyright_checker

Fix status
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Break if all workers completed
  elasticdl/python/master/master.py
Due: copyright_checker

Wait to do callback task
  elasticdl/python/worker/task_data_service.py
Due: copyright_checker

Clean codes for allreduce training loop
  elasticdl/python/worker/worker.py
Due: copyright_checker

Only create a dataset for an evaluation
  elasticdl/python/worker/task_data_service.py
  elasticdl/python/worker/worker.py
Due: copyright_checker

Delete the dataset after evaluation
  elasticdl/python/worker/worker.py
Due: copyright_checker

Create shards for a csv file
  .flake8
  elasticdl/python/data/reader/csv_reader.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(go|py|sh)$
