Repository sql-machine-learning/elasticdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

Save slot into embedding table pb
  elasticdl/proto/elasticdl.proto
  elasticdl/python/ps/embedding_table.py
Due: clang-format

Set is_slot=False for embedding variable
  elasticdl/python/ps/embedding_table.py
  elasticdl/python/worker/worker.py
Due: none

Do not save slot embedding tables
  elasticdl/proto/elasticdl.proto
  elasticdl/python/ps/embedding_table.py
  elasticdl/python/ps/parameters.py
Due: clang-format

remove is_slot
  elasticdl/python/ps/embedding_table.py
  elasticdl/python/worker/worker.py
Due: none

Only save embedding tables of embedding weights to checkpoint (#1623)
  elasticdl/python/ps/parameters.py
Due: none

Add broadcast op and switch to use gossip and pytorch implementation
  elasticdl/python/collective_ops/communicator.py
Due: none

update
  docs/designs/high_performance_ps.md
Due: none

fix typo
  docs/designs/high_performance_ps.md
Due: none

support unowned data
  elasticdl/cc/common/tensor.cc
  elasticdl/cc/common/tensor.h
  elasticdl/cc/common/tensor_test.cc
Due: clang-format, cpplint-cpp-source

polish doc
  docs/designs/high_performance_ps.md
Due: none

make indices a vector
  elasticdl/cc/common/tensor.cc
  elasticdl/cc/common/tensor.h
  elasticdl/cc/common/tensor_test.cc
Due: clang-format, cpplint-cpp-source

refine code
  elasticdl/cc/common/tensor.h
Due: clang-format, cpplint-cpp-source

add golang support in Dockerfile.dev
  elasticdl/docker/Dockerfile.dev
  elasticdl/docker/scripts/install-go.bash
  elasticdl/docker/scripts/install-protobuf.bash
Due: none

add tensorflow distribute training demo
  benchmark/tensorflow-runtime/allreduce/Dockerfile
  benchmark/tensorflow-runtime/allreduce/build_image.sh
  benchmark/tensorflow-runtime/allreduce/exec.py
  benchmark/tensorflow-runtime/client/client.py
  benchmark/tensorflow-runtime/client/cmd
  benchmark/tensorflow-runtime/client/pod_img/Dockerfile
  benchmark/tensorflow-runtime/client/pod_img/pod.py
  benchmark/tensorflow-runtime/env.sh
  benchmark/tensorflow-runtime/master/Dockerfile
  benchmark/tensorflow-runtime/master/build_master_image.sh
  benchmark/tensorflow-runtime/master/deploy_master.yaml
  benchmark/tensorflow-runtime/master/master.py
  benchmark/tensorflow-runtime/master/template.yaml
  benchmark/tensorflow-runtime/readme.MD
Due: none

add golang support in Dockerfile.dev (#1625)
  elasticdl/docker/Dockerfile.dev
  elasticdl/docker/scripts/install-go.bash
  elasticdl/docker/scripts/install-protobuf.bash
Due: none

generate Go files from proto file
  elasticdl/Makefile
  elasticdl/proto/elasticdl.proto
  elasticdl/proto/tensor_dtype.proto
Due: clang-format

Add broadcast op and switch to use gossip and pytorch implementation (#1624)
  elasticdl/python/collective_ops/communicator.py
Due: none

generate Go files from proto file (#1629)
  elasticdl/Makefile
  elasticdl/proto/elasticdl.proto
  elasticdl/proto/tensor_dtype.proto
Due: clang-format

refine code
  elasticdl/cc/common/BUILD
  elasticdl/cc/common/tensor.cc
  elasticdl/cc/common/tensor.h
  elasticdl/cc/common/tensor_test.cc
  elasticdl/cc/common/type.cc
  elasticdl/cc/common/type.h
Due: clang-format, cpplint-cpp-source

format code
  elasticdl/cc/common/tensor.h
Due: clang-format, cpplint-cpp-source

add tensorflow distribute training demo
  benchmark/tensorflow-runtime/allreduce_keras_example/Dockerfile
  benchmark/tensorflow-runtime/allreduce_keras_example/build_image.sh
  benchmark/tensorflow-runtime/allreduce_keras_example/exec.py
  benchmark/tensorflow-runtime/client/cmd_example_ar
  benchmark/tensorflow-runtime/client/cmd_example_ps
  benchmark/tensorflow-runtime/client/pod_img/Dockerfile
  benchmark/tensorflow-runtime/client/pod_img/pod.py
  benchmark/tensorflow-runtime/master/Dockerfile
  benchmark/tensorflow-runtime/master/master.py
  benchmark/tensorflow-runtime/ps_estimator_example/Dockerfile
  benchmark/tensorflow-runtime/ps_estimator_example/build_image.sh
  benchmark/tensorflow-runtime/ps_estimator_example/exec.py
  benchmark/tensorflow-runtime/readme.MD
Due: none

refine type
  elasticdl/cc/common/tensor.h
  elasticdl/cc/common/type.cc
  elasticdl/cc/common/type.h
Due: clang-format, cpplint-cpp-source

clean code
  elasticdl/cc/common/tensor.h
Due: clang-format, cpplint-cpp-source

add sgd kernel using eigen
  .clang-format
  .gitignore
  .pre-commit-config.yaml
  .travis.yml
  elasticdl/Makefile
  elasticdl/cc/sgd.cc
  elasticdl/cc/sgd.h
  elasticdl/docker/Dockerfile.dev
  elasticdl/proto/elasticdl.proto
  elasticdl/proto/tensor_dtype.proto
  elasticdl/python/common/dtypes.py
  elasticdl/python/tests/tensor_test.py
  scripts/codestyle/clang_format.hook
  scripts/codestyle/cpplint_precommit.hook
Due: clang-format, cpplint-cpp-source

test style
  elasticdl/cc/sgd.h
Due: clang-format, cpplint-cpp-source

move kernel to go dir
  elasticdl/Makefile
  elasticdl/cc/sgd.h
  elasticdl/go/kernel/kernel.cc
  elasticdl/go/kernel/kernel.go
  elasticdl/go/kernel/kernel.h
Due: clang-format, cpplint-cpp-source

add kernel test
  elasticdl/go/kernel/kernel_test.go
Due: none

add design doc
  benchmark/tensorflow-runtime/allreduce_keras_example/exec.py
  benchmark/tensorflow-runtime/client/cmd_example_ps
  benchmark/tensorflow-runtime/client/pod_img/pod.py
  benchmark/tensorflow-runtime/ps_estimator_example/exec.py
  docs/designs/benchmark/tensorflow-runtime.md
  docs/images/tf-runtime-demo-design-doc.png
Due: none

fix image typo
  docs/images/tf-runtime-demo-design-doc.png
Due: none

refine test
  elasticdl/Makefile
  elasticdl/go/kernel/kernel_test.go
  elasticdl/pkg/kernel/capi/kernel_api.cc
  elasticdl/pkg/kernel/capi/kernel_api.h
  elasticdl/pkg/kernel/kernel.go
  elasticdl/pkg/kernel/kernel_test.go
Due: clang-format, cpplint-cpp-source

fix eigen3 header file
  elasticdl/Makefile
  elasticdl/pkg/kernel/capi/kernel_api.cc
  elasticdl/pkg/kernel/kernel.go
Due: clang-format, cpplint-cpp-source

trigger go unittest
  .travis.yml
  elasticdl/go.mod
  elasticdl/go.sum
  scripts/unittest.sh
Due: none

fix ci
  scripts/unittest.sh
Due: none

Update tensorflow 2.1.0
  elasticdl/docker/Dockerfile
  elasticdl/docker/Dockerfile.dev
Due: none

fix ci
  elasticdl/pkg/kernel/capi/kernel_api.cc
  elasticdl/pkg/kernel/capi/kernel_api.h
  scripts/unittest.sh
Due: clang-format, cpplint-cpp-source

Design doc of high performance PS implementation (#1620)
  docs/designs/high_performance_ps.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
