Repository sql-machine-learning/elasticdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./scripts/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./scripts/codestyle/cpplint_precommit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./scripts/codestyle/copyright.py
  language: system

Fix model cuda (#2484)
  model_zoo/mnist/mnist_pytorch.py
Due: copyright_checker

relaunch worker on failure
  elasticdl/python/master/pod_manager.py
  elasticdl/python/tests/pod_manager_test.py
  elasticdl_client/common/args.py
Due: copyright_checker

only relaunch in PS strategy
  elasticdl/python/master/pod_manager.py
  elasticdl_client/common/args.py
Due: copyright_checker

Relaunch worker on failure (#2485)
  elasticdl/python/master/pod_manager.py
  elasticdl/python/tests/pod_manager_test.py
  elasticdl_client/common/args.py
Due: copyright_checker

Check whether to register hooks according to HOROVOD_ELASTIC
  elasticai_api/pytorch/optimizer.py
Due: copyright_checker

Create an ElasticImageFolder for PyTorch. (#2486)
  elasticai_api/pytorch/dataset.py
Due: copyright_checker

Develop an API to get training epoch
  elasticai_api/common/data_shard_service.py
  elasticai_api/pytorch/controller.py
  model_zoo/mnist/mnist_pytorch.py
Due: copyright_checker

Register hooks
  elasticai_api/pytorch/optimizer.py
Due: copyright_checker

Add unittest
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

remove prefix to ps/worker pod name
  elasticdl/python/common/k8s_client.py
Due: copyright_checker

Check whether to register hooks according to HOROVOD_ELASTIC (#2487)
  elasticai_api/pytorch/optimizer.py
Due: copyright_checker

Fic by comments
  elasticai_api/common/data_shard_service.py
  elasticai_api/pytorch/controller.py
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

fix tests
  elasticdl/python/tests/pod_manager_test.py
  scripts/validate_job_status.py
Due: copyright_checker

fix black
  scripts/validate_job_status.py
Due: copyright_checker

Remove "elasticdl-" prefix to ps/worker pod name (#2489)
  elasticdl/python/common/k8s_client.py
  elasticdl/python/tests/pod_manager_test.py
  scripts/validate_job_status.py
Due: copyright_checker

upgrade grpcio version to 1.34.0
  elasticai_api/requirements.txt
Due: none

merge develop to v0.2.0 before disable go ps test (#2491)
  docs/designs/versioning.md
  elasticai_api/pytorch/dataset.py
  elasticai_api/pytorch/optimizer.py
  elasticdl/python/common/k8s_client.py
  elasticdl/python/master/pod_manager.py
  elasticdl/python/tests/pod_manager_test.py
  elasticdl_client/common/args.py
  model_zoo/mnist/mnist_pytorch.py
  scripts/validate_job_status.py
Due: copyright_checker

disable go test
  scripts/build_and_test.sh
Due: copyright_checker

Fix unittest
  elasticdl/python/tests/allreduce_trainer_test.py
Due: copyright_checker

Develop an API to get training epoch (#2488)
  elasticai_api/common/data_shard_service.py
  elasticai_api/pytorch/controller.py
  elasticdl/python/tests/allreduce_trainer_test.py
  model_zoo/mnist/mnist_pytorch.py
Due: copyright_checker

Sync (#2493)
  elasticai_api/common/data_shard_service.py
  elasticai_api/pytorch/controller.py
  elasticdl/python/tests/allreduce_trainer_test.py
  model_zoo/mnist/mnist_pytorch.py
Due: copyright_checker

revert version to test travis
  elasticai_api/requirements.txt
Due: none

grpc 1.34.0
  elasticai_api/requirements.txt
Due: none

test go non-ps tests
  scripts/build_and_test.sh
Due: copyright_checker

grpcio-tools version change to avoid pytest crash
  elasticai_api/requirements.txt
Due: none

1.34.1
  elasticai_api/requirements.txt
Due: none

change version
  elasticai_api/requirements.txt
Due: none

change version 1.34.1
  elasticai_api/requirements.txt
Due: none

upgrade grpcio version to 1.34.1 (#2490)
  elasticai_api/requirements.txt
  scripts/build_and_test.sh
Due: copyright_checker

Worker can report training data to the master if using recordio
  elasticai_api/common/data_shard_service.py
  elasticai_api/common/master_client.py
  elasticai_api/proto/elasticai_api.proto
  elasticdl/python/master/servicer.py
  elasticdl/python/master/task_manager.py
  elasticdl/python/tests/task_manager_test.py
Due: clang-format, copyright_checker

Add logs
  elasticai_api/common/data_shard_service.py
  elasticai_api/common/master_client.py
Due: copyright_checker

Create a TensorFlow operator
  elasticai_api/tensorflow/controller.py
  elasticdl/python/worker/worker.py
  model_zoo/mnist/mnist_train_tfv1.py
Due: copyright_checker

Warp the job command using parentheses
  elasticdl/python/master/pod_manager.py
  elasticdl_client/common/constants.py
Due: copyright_checker

Wrap the bash command
  elasticdl/python/master/pod_manager.py
Due: copyright_checker

Fix to redirect logs
  elasticdl/python/master/pod_manager.py
Due: copyright_checker

Pre-commit
  elasticdl/python/tests/task_manager_test.py
Due: copyright_checker

Fix training loop
  model_zoo/mnist/mnist_train_tfv1.py
Due: copyright_checker

Wrap the job command
  elasticdl/python/master/pod_manager.py
Due: copyright_checker

Pre-commit
  elasticdl/python/worker/worker.py
  model_zoo/mnist/mnist_train_tfv1.py
Due: copyright_checker

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  copyright_checker: any of: \.(go|py|sh)$
