Repository sql-machine-learning/elasticdl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, copyright_checker

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.1
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.20
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: [--line-length=79]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
  - repo: git://github.com/skorokithakis/pre-commit-mypy
    rev: v0.701
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --follow-imports=skip]
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./scripts/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  - repo: local
    hooks:
      - id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./scripts/codestyle/cpplint_precommit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.3
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: validate-toml
      - id: no-go-testing
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.8
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: copyright_checker
        name: copyright_checker
        entry: python ./scripts/codestyle/copyright.py
        language: system
        files: \.(go|py|sh)$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.23.0
    hooks:
      - id: yamllint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.23.1
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown files."
        entry: markdownlint
        language: node

Add quest to get communication rank
  elasticdl/proto/elasticdl.proto
Due: clang-format

Polish the design
  docs/designs/allreduce_based_horovod.md
Due: none

show test result
  elasticdl/python/tests/worker_ps_pytorch_test.py
Due: copyright_checker

Add request to get communicationt ranks
  elasticdl/proto/elasticdl.proto
Due: clang-format

Fix filed number in the proto
  docs/designs/allreduce_based_horovod.md
Due: none

update mnist pytorch
  model_zoo/mnist/mnist_subclass_pytorch.py
Due: copyright_checker

test new branch
  elasticdl/python/worker/worker_pytorch.py
Due: copyright_checker

Install Horovod and dependencies in the dev image (#2236)
  elasticdl/docker/Dockerfile
Due: none

Unit test for servicer
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

base train unittest
  elasticdl/python/tests/worker_trainloop_pytorch_test.py
  elasticdl/python/worker/worker_pytorch.py
  model_zoo/mnist/mnist_subclass_pytorch.py
Due: copyright_checker

remove unnecessary code
  elasticdl/python/tests/worker_trainloop_pytorch_test.py
  elasticdl/python/worker/worker_pytorch.py
Due: copyright_checker

Get alive worker service address
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/tests/k8s_instance_manager_test.py
Due: copyright_checker

Fix worker_addrs to list
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/tests/k8s_instance_manager_test.py
Due: copyright_checker

Reformat codes
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Recover get_addr
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Remove the redundant underscore
  elasticdl/python/master/k8s_instance_manager.py
Due: copyright_checker

Build allreduce image in travis CI
  .travis.yml
  elasticdl/docker/Dockerfile
Due: none

Add TODO
  elasticdl/docker/Dockerfile
Due: none

Fix by comments
  elasticdl/docker/Dockerfile
Due: none

Build the AllReduce image in travis CI (#2242)
  .travis.yml
  elasticdl/docker/Dockerfile
Due: none

Only download proto files from TensorFlow repo
  elasticdl/docker/Dockerfile
Due: none

Fix by comments
  docs/designs/allreduce_based_horovod.md
Due: none

fix CI
  elasticdl/python/tests/worker_pytorch_training_loop_test.py
  elasticdl/python/worker/worker_pytorch.py
  model_zoo/mnist/mnist_subclass_pytorch.py
Due: copyright_checker

Fix proto download urls
  elasticdl/docker/Dockerfile
Due: none

fix CI
  elasticdl/python/worker/worker_pytorch.py
Due: copyright_checker

Fix unit tests
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/tests/k8s_instance_manager_test.py
Due: copyright_checker

RendezvousServer for Horovod
  elasticdl/python/master/rendezvous_server.py
  elasticdl/python/tests/horovod_rendezvous_test.py
Due: copyright_checker

Precommit
  elasticdl/python/master/rendezvous_server.py
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/horovod_rendezvous_test.py
Due: copyright_checker

Delete unuse uts
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Add method to get rendezvous info
  elasticdl/proto/elasticdl.proto
  elasticdl/python/master/rendezvous_server.py
Due: clang-format, copyright_checker

Delete the task_d argument in MasterServicer
  elasticdl/python/master/master.py
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Get alive worker service address (#2240)
  elasticdl/python/master/k8s_instance_manager.py
  elasticdl/python/tests/k8s_instance_manager_test.py
Due: copyright_checker

Add design of proto to query the rank by the worker. (#2237)
  docs/designs/allreduce_based_horovod.md
Due: none

Reformat codes
  elasticdl/python/tests/servicer_test.py
Due: copyright_checker

Reformat code
  elasticdl/python/master/servicer.py
Due: copyright_checker

Mock a master
  elasticdl/python/tests/test_utils.py
Due: copyright_checker

Fix unittests
  elasticdl/python/tests/evaluation_service_test.py
Due: copyright_checker

Delete the task_d argument in MasterServicer (#2246)
  elasticdl/python/master/master.py
  elasticdl/python/master/servicer.py
  elasticdl/python/tests/evaluation_service_test.py
  elasticdl/python/tests/servicer_test.py
  elasticdl/python/tests/test_utils.py
Due: copyright_checker

Remove grpc definition
  elasticdl/proto/elasticdl.proto
Due: clang-format

Precommit
  .isort.cfg
Due: none
